<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>XL</title>
  </head>
  <body class="bg-white">
    <div class="grid h-screen place-content-center">
      <div>
        <h1 class="tracking-wide text-blue-500 text-9xl font-bold px-2">XL</h1>
      </div>
      <form action="/" method="POST" enctype="multipart/form-data">
        <label class="block">
          <span class="sr-only">Choose Excel file</span>
          <input type="file" id="file" name="file" class="block w-full text-sm text-gray-500
            file:mr-4 file:py-2 file:px-4
            file:rounded-md file:border-0
            file:text-sm file:font-semibold
            file:bg-blue-500 file:text-white
            hover:file:bg-blue-600"/>
          <div class="block w-full py-2">
            <button type="submit" class="w-full py-2 px-4 rounded-md border-0 font-semibold bg-gradient-to-r from-sky-300 to-blue-500 text-sm text-white hover:file:bg-blue-600"> Convert </button>
          </div>
        </label>
    </form>
    </div>
    
  </body>
</html>